.App {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.App-table th,
.App-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Ajuste a margem inferior para reduzir a distância entre o botão e a tabela */
  margin-top: 50px;
}


.botao-sucesso {
  background-color: white !important;
  color: green !important;
  border: 1px solid green !important;
}

.botao-primary {
  background-color: white !important;
  color: #4169e1 !important;
  border: 1px solid #4169e1 !important;
}

.botao-perigo {
  background-color: white !important;
  color: red !important;
  border: 1px solid red !important;
}

.botao-info {
  background-color: white !important;
  color: #0dcaf0 !important;
  border: 1px solid #0dcaf0 !important;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.invalid {
  border-color: red !important;
}
